nav {
    list-style-type: none;
    margin: 0;
    padding:10px;
    text-size:20px;
}    



nav {
    position: fixed;
    top: 0;
    width: 50%;
    
}
h2{
    padding:35px;
    text-font:sans-serif;
   
}
body{
    text-align:center;
}
