ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}    
li a {
    display: block;
    width: 60px;
}
li {
    display: inline;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
Try it Yourself »

<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="csprojects.html">CS projects</a></li>
  <li style="float:right"><a class="active"</a></li>
</ul>
ul {
    position: fixed;
    top: 0;
    width: 100%;
}
