nav {
    list-style-type: none;
    margin: 0;
    padding:10;
    text-size:40;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(180,180,180);   
    display:block;
    color:rgb(180,0,0);
}    

h2{
    padding:35px;
    text-font:arial;
   
}
h1{
    padding:35px;
    text-font:arial;
    color:red;
}
body{
    text-align:center;
}
table, th, td {
    border:1px solid black;
}
p{
    text-size:16px;
}
